.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4f87ff;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link,
.logout {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
}
